<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socket.IO whiteboard</title>
    <link rel="stylesheet" href="/static/whiteboard/style.css">
</head>
<body>

<canvas class="whiteboard"></canvas>

<div class="colors">
    <div class="color black"></div>
    <div class="color red"></div>
    <div class="color green"></div>
    <div class="color blue"></div>
    <div class="color yellow"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="/static/whiteboard/main.js"></script>
</body>
</html>